*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing:border-box;
}



/* css Inicio */
.portada{
    background-image: url("../Imagenes/principales/editorial\(6\).jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-position-y: -100px;  
    margin-bottom: 50px;
    font-family:'Fleur De Leah', cursive;
    padding-bottom: 300px;
  

}

.tituloPrincipal--Florencia{
    height: auto;
    width: auto;
    font-size:130px;
    font-weight: 100;
    margin-left: 880px;
    margin-top: 100px;
    margin-bottom:-80px;
    
    color: #af6e50;
}
.tituloPrincipal--Elizalde{
    display: block;
    height: auto;
    width: auto;
    font-size:130px;
    margin-left: 80px;
    padding-top: 80px;
    margin-top: -150px;

}
.subtitulo{
    height: auto;
    width: auto;
    font-size:35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 75px;
    margin-left: 970px;
    color: #af6e50;
   
}

.lista__menu a{
    color:black ;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-family: 'Cormorant Garamond', serif;
    font-weight:bold;
}

.lista__menu a:hover{
    text-decoration: underline ;
}

.lista__menu{
     display: flex;
     align-items: center;
     gap: 40px;
     justify-content: space-between;
     margin-left: 800px;
     margin-right: 30px;
     text-decoration: underline;
     list-style-type: none;
    
}
.principalInicio{
background-color: aqua;
width: 90%;
max-width: 1500px;
height: 600px;
margin: 5px auto;
display: grid;
padding: 60px 0;
grid-template-columns: repeat(4, 1fr);
grid-template-rows:repeat(3, auto) ;
grid-template-areas: "imagen imagen imagen imagen"
                      "imagen imagen imagen imagen"
                      "texto texto texto texto";

}
.imgDeco__inicio{
    grid-area: imagen;
    display: flex;
    grid-column: 1/-1;
    grid-row:1/-1 ;
    padding:100px;
    height: 100px;
    justify-content: center;
    align-items: baseline;
    gap: 5px;   
    flex-wrap: wrap; 
}
.editInicio{
    background-image:url("../Imagenes/principales/editorial\(4\).jpg");
    background-size: 200px;
    height: 300px;
    background-repeat: no-repeat;
    padding: 40px;
    border: 0;
}
.natuInicio{
    background-image: url("../Imagenes/principales/naturaleza\(2\).jpg");
    background-size: 200px;
    height: 300px;
    background-repeat: no-repeat;
    padding: 40px;
    object-fit:cover;

}
.parejInicio{
    background-image: url("../Imagenes/principales/Pareja\(4\).jpg");
    background-size: 200px;
    height: 300px;
    background-repeat: no-repeat;
    padding: 40px;
    height: 300px;
}
.proyInicio{
    background-image: url("../Imagenes/principales/Wonderland\(3\).jpg");
    background-size: 200px;
    height: 300px;
    background-repeat: no-repeat;
    padding: 40px;
}

.txt2{
    grid-area: texto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: -60px;
    
}

.social{
display: flex;
align-items: baseline;
justify-content: end;
margin-top: 170px;
margin-bottom: -200px;
margin-left: -100px;

}

.social-imagen {
width: 30px;
}

.copyright {
    width: 15px;
}
footer{
    background-color: whitesmoke;
    margin-bottom: 0;
    margin-top: 30px;
    width: auto;
    height: 300px;
    font-size: 15px;
    font-weight: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 768px) {
    .portada{
        display: flex
        ;
        margin-left: -800px;
        margin-top: -150px;
        
    }
    .lista__menu{
        font-size: 20px;
    }
    .responsivetext{
        margin-left: -1300px;
        margin-top: 200px;
        
    }
    

}


/* css contactos---------------------------------------- */
.contacto{
     background-color: rgb(234, 245, 245);
     font-family: 'Cormorant Garamond', serif;
            /* ira una imagen que no tengo definida */
    }

.logo{
    display: inline;
    color: #af6e50;
    height: 100px;
    width: 100px;
    font-family: "palmeyra";
    src: url("../Palmeyra.otf");
    font-size: 30px;
    padding: 10px;

}
.logo__top{
    margin-top: -30px;
    margin-left: 10px;
 
}
.logo.bottom{
    margin-top: -35px;
    margin-left: 90px;

}
.menuContactos{
    margin-top: -155px;
    margin-bottom: 100px;
}









/* Principal SobreMi */

.Principal{
    height: 100vh;
    background-image: url("../Imagenes/SobreMi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }

    .encabezado__sobremi{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: -25px;
        


    
   
    }
    
    .logoFlor{
        background-color: rgb(115, 255, 220);
        border-radius: 50%;
        padding: 10px;
        display: inline-block;
        font-size:20px;
        font-family:'Fleur De Leah', cursive;
        color:#ca3900 ;
    }

    nav{
        margin-left: -100%;
        width: 100%;
        height: 10vh;
        padding: 0 100%;
        display: flex;
        align-items: center;
        justify-content:end;
        flex-direction: row;
        

    }
    .menu__sobremi{
        display: flex;
        flex-direction: row;
        gap: 30%;
        text-decoration: none;
        

        
    }

    .Sobremi{
        list-style-type: none;
        display: inline;
        font-size: 23px;
        font-family: 'Cormorant Garamond', serif;
        font-weight:bold;   

    }

    div nav ul li a{
        padding: 15px;
        text-decoration: none;
        color: black;
    }
    div nav ul li a:hover{
        text-decoration: underline;
        background-color: black;
        color: white;
        border-radius: 50%;
    }
   
       
    
