* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

.inicio {
  background-color: rgb(56, 56, 82);
}
.inicio .portada {
  background-image: url("../Imagenes/principales/editorial(6).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto 6fr;
  margin: 0;
  margin-bottom: 5px;
  height: 600px;
  width: 100%;
}
.inicio .portada .lista__menu {
  grid-column: 2/3;
  grid-row: 1/2;
  text-decoration: underline;
  list-style-type: none;
  margin-right: 20px;
}
.inicio .portada .lista__menu div {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 30px;
}
.inicio .portada .lista__menu div a {
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 23px;
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  -webkit-animation: misefectos 1s 8s 2 linear;
          animation: misefectos 1s 8s 2 linear;
}
.inicio .portada .lista__menu div a:hover {
  text-decoration: underline;
}
.inicio .portada .florenciaElizalde--titulo {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: end;
  align-items: center;
}
.inicio .portada .florenciaElizalde--titulo .tituloPrincipal--Florencia {
  font-size: 100px;
  font-weight: 100;
  font-family: "Fleur De Leah", cursive;
  position: relative;
  right: 25px;
  color: #af6e50;
  margin: auto;
}
.inicio .portada .florenciaElizalde--titulo .tituloPrincipal--Florencia .tituloPrincipal--Elizalde {
  position: relative;
  bottom: 35px;
  left: 40px;
}
.inicio .portada .florenciaElizalde--titulo .tituloPrincipal--Florencia .subtitulo {
  font-size: 35px;
  font-family: "Cormorant Garamond", serif;
  color: #af6e50;
  position: relative;
  bottom: 40px;
  left: 35px;
  margin: 0;
  width: 40px;
}
.inicio .portada .principalInicio {
  background-color: rgb(255, 204, 108);
  margin: auto;
}
.inicio .portada .principalInicio .img--inicio {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  grid-template-rows: repeat(2, auto);
}
.inicio .portada .principalInicio .img--inicio .resp--img {
  display: flex;
  justify-content: start;
  gap: 2em;
  justify-content: center;
  text-align: center;
}
.inicio .portada .principalInicio .img--inicio .resp--img .img__inicio {
  width: 100%;
  transition: all 1s;
  max-height: 399px;
  border: black solid;
  border-radius: 25%;
}
.inicio .portada .principalInicio .img--inicio .resp--img .img__inicio:hover {
  transform: scale(2);
}
.inicio .portada .principalInicio .img--inicio .txt2 {
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 26px;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.inicio .portada .principalInicio .social {
  display: flex;
  align-items: baseline;
  justify-content: end;
  margin-top: 170px;
  margin-bottom: -200px;
  margin-left: -100px;
}

/* Portfolio */
body section .portfolio--font {
  font-family: "Cormorant Garamond", serif;
  color: rgb(222, 33, 33);
}/*# sourceMappingURL=estilo.css.map */